@font-face {
	/*font-family: GraublauWeb;*/
	src: url("mono.otf")
	format("opentype");
}

.wrap{
	/*position:fixed;
	top:0;
	left:0;*/
	overflow: auto;
	z-index: 0;
	background-color: yellow;
}

.header{
	position:relative;
	left:50px;
	top:50px;
	width:300px;
	height:505px;
	background-color: green;
	background-image: url("img/beanME.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 30% 20%; 
}
.header img{
	width:1280px;
}
