body{
  background: green;
}
.slider{
  position: relative;
  left:50px;
  width: 1100px;
  margin: 20px;
  
}
.image{
  height:550px;
  width:700px;
  margin-right: 5px;
  background-image: "img/cafe/dessert03.jpg"
}
.image img{
  height:100%;
  padding:20px 40px;
  background-color: white;
}

.image03 .image04 .image05 .image06 img{
  /*height:100%;*/
  padding:20px 40px;
  background-color: white;
}
.rest{
  height:30px;
  width:50px;
  background-color: #fff;
}