@font-face {
	/*font-family: GraublauWeb;*/
	src: url("mono.otf")
	format("opentype");
}

.wrap{
	position:fixed;
	top:0;
	left:0;
	display:block;
	width: 100%;
	height: 100%;
	background-color: #8B4513;
	overflow: auto;
	z-index: 0;
}
.main{
	position:absolute;
	top:0%;
	left:95%;
	right:18%;
	margin-left: -1000px;
	background-color: white;
}
.headback{
	position:absolute;
	top:0%;
	left:0%;
	background-color: #DEB887;
	width:100%;
	height:180px;
}
/*.headback img{
	width:100%;
}*/
.header{
	position:relative;
	top:50px;
	left:10%;
	height:0px;
}
.header img{
	width:60%;
}
.little_header{
position:relative;
	top:4px;
	left:3%;
}
.little_header a{
font-size: 40px;
font-weight: bold;
font-family: 'mono.otf';
color: #8B4513;
}
.little_header img{
	width:80px;
}
.filter-column{
	position:relative;
	top:220px;
	left:10%;
	padding:0px 0px 20px 50px;
	text-align:left;
}
.filter-title{
	display:inline;
	position:relative;
	left:15px;
	width:65%;
	font-size: 18px;
	font-weight: bold;
	color: white;
	background-color: #F4A460;
	margin:2px 0px 6px 14px;
	padding:3px 0px 3px 0px;
}
.filter-item select{
	font-size: 16px;
	margin:2px 2px 6px 3px;
}

.filter-item li{
	display: inline;
	font-size: 16px;
	margin:2px 0px 6px 0px;
}
.filter-item li input{
	display:none;
}
.filter-item li label{
	font-size: 18px;
	font-weight: bold;
	color: white;
	background-color: #F4A460;
	margin:0px 10px 0px 4px;
	padding: 6px;
	border-radius: 5px;
}
.filter-item li label:hover{
	color: black;
}
.filter-item li.is-acted label{
	color: red;
}

.shop-list{
	display:inline-block;
	position:relative;
	top:200px;
	left:2%;
	width:580px;
	padding-bottom: 200px;
}
.shop-header{
	margin:0px 0px -5px 0px;
}
.shop-title img{
	width:15%;
	position:relative;
	left:-2%;
}
.shop-title-text{
	position:absolute;
	top:3.5%;
	left:15%;
	font-size:25px;
}
.one-shop{
	color:transparent;
}
.one-shop:before{
	display:block;
    content: "";
    position:relative;
    left:40px;
    width:500px;
    height:2px;
    border-bottom: solid 3px #BB5500;
}

.shop-line img{
	width:85%;
}
.shop-box{
	position:relative;
	width:100%;
	height:162px;
	background-color: #FFEFD5;
	border-radius: 20px;
	/*display:inline-block;*/
	margin:10px 0px 12px 0px;
}
.shop-photo{
	height:150px;
	position:absolute;
	right:8px;
	top:5px;
}
.shop-photo img{
	height:100%;
	padding:10px;
	border-radius: 10px;
}
.shop-text-box{
	width:63%;
}
.shop-name{
	padding:10px 0px 10px 10px;
	margin:10px 0px 0px 10px;
	font-size:22px;
	font-weight: bold;
	color: black;
	text-align:left;
}
.shop-text-item{
	font-weight: bold;
	text-align:right;
	padding:0px 0px 2px 10px;
	color:#8B4513;
}
.shop-name-text{
	text-indent: 33px;
	padding:10px 0px 10px 10px;
	font-size:16px;
	color: black;
	text-align:left;
}

.shop-search{
	background-color: #8B4513;
	width:180px;
	height:40px;
	position:absolute;
	top:-10px;
	left:60%;
}
.shop-search img{
	height:100%;
	position:absolute;
	right:3px;
	top:0;
}
.inputShop{
	height: 50%;
	width: 68%;
	position: absolute;
	left:8px;
	top:8px;
	font-size:17px;
	color: #000000;
	background-color: white;
 	outline: 0;
}
.right-column{
	display:inline-block;
	/*padding:0px 0px 0px 20px;*/
	position:relative;
	top:50px;
	width:30%;
	text-align:center;
}
.column-item{
	padding:25px 0 10px 0;
}
.find-shops{
	position:relative;
	padding:0px 0px 0px 20px;
}
.find-shops img{
	width:60%;
}
.hot-article-wrap{
	width:80%;
	position:relative;
	left:30px;
	background-color:#FFFFBB;
	border-radius: 10px;
	padding:8px;
}
.hot-article-wrap img{
	float:left;
	width:25%;
}
.hot-article-wrap a{
	display:inline-block;
	position: relative;
	left:2px;
	text-align: left;
	padding:4px;
	font-size: 18px;
	/*line-height:20px;*/
	vertical-align:middle;
}
.hot-article-text{
	float:left;
	position:relative;
	top: 14px;
    left: 10px;
	margin:2px 3px 4px 5px;
}
.hot-article-wrap div{
	display:inline-block;
	position: relative;
	left:2px;
	text-align: left;
	padding:4px;
	font-size: 18px;
	/*line-height:20px;*/
	vertical-align:middle;
}
.page{
	padding:20px 0px 0px 10px;
	text-align: center;
}
.footer{
	position:relative;
	top:40px;
}
.footer img{
	width:100%;
}
