@font-face {
	/*font-family: GraublauWeb;*/
	src: url("mono.otf")
	format("opentype");
}

.wrap{
	/*position:fixed;
	top:0;
	left:0;*/
	overflow: auto;
	z-index: 0;
	background-color: white;
}

.header{
	position:relative;
}
.header img{
	width:1280px;
}
.content{
	width:1280px;
	position: relative;
	display: block;
}
.shop-list{
	display:inline-block;
	position:relative;
	left:20px;
	width:800px;
}
.shop-header{
	padding-top: 20px;
}
.shop-title{
	display: inline-block;
	vertical-align: middle;
}
.shop-title img{
	width:70px;
}
.shop-title-text{
	display: inline-block;
	vertical-align: middle;
	font-size:25px;
	color: black;
}
.thumb{
	display: inline;
	vertical-align: middle;
	position: relative;
	right:-350px;
	line-height:55px;
}
.thumb img{
	width:6%;
	vertical-align: middle;
	margin: 5px;
}
.one-shop{
	color:transparent;
}
.one-shop:before{
	display:block;
    content: "";
   /* position:relative;
    left:40px;*/
    width:800px;
    height:2px;
    border-bottom: solid 3px #BB5500;
}
.shop-head-box{
	position:relative;
	width:100%;
	border-radius: 20px;
	display:inline-block;
	margin:10px 0px 12px 0px;
}
.shop-head-photo{
	display: inline-block;
	width:440px;
	position:relative;
	left:8px;
	top:5px;
	border-radius: 10px;
}
.shop-head-photo img{
	width:100%;
}
.small-intro{
	display: inline-block;
	width:320px;
	position: relative;
    right:-20px;
	background-color:#FFFFBB;
	border-radius: 10px;
}
.intro-name{
	display: inline-block;
	font-size:22px;
	font-weight: bold;
	color: black;
	margin-top: 20px;
	margin-left: 20px;
}
.intro-wrap{
	width:200px;
	position:relative;
	left:10px;
	background-color:#FFFFBB;
	border-radius: 10px;
	padding:8px;
}
.intro-item img{
	float:left;
	width:40px;
	/*display: */
}
.intro-item{
	position: relative;
	left:2px;
	text-align: left;
	padding:4px;
	font-size: 18px;
	width:400px;
	display: inline-block;
	vertical-align: middle;
}
.item{
	margin: 0 2px 0 8px;
	position: relative;
	top: 10px;
	font-weight: bold;
	color:#8B4513;
}
.intro-text{
	position: relative;
	top: 10px;
	font-size:16px;
	color: black;
	text-align:left;
}
.shop-text-box{
	width:750px;
	position: relative;
	right:0;
}
.shop-name{
	padding:20px 0px 10px 30px;
	font-size:22px;
	font-weight: bold;
	color: black;
	/*text-align:left;*/
}
.shop-text-item{
	font-weight: bold;
	text-align:right;
	color:#8B4513;
	padding:10px 0px 20px 0px;
}
.shop-name-text{
	text-indent: 33px;
	padding:10px 0px 10px 30px;
	font-size:16px;
	color: black;
	text-align:left;
	display: inline-block;
}

.shop-box{
	position:relative;
	width:778px;
	background-color: #FFEFD5;
	border-radius: 20px;
	/*display:inline-block;*/
	margin:10px 0px 12px 8px;
}
.shop-photo{
	width:778px;
	position:absolute;
	left:8px;
	top:5px;
	border-radius: 10px;
	background-color: red;
}
.shop-photo img{
	width:220px;
	padding:10px;

}
.right-column{
	display:inline-block;
	vertical-align: top;
	position:relative;
	top:30px;
	left:40px;
	width:400px;
	text-align: center; 
}
.map{
	padding-bottom: 20px;
}
.map-text{
	display: inline-block;
	vertical-align: middle;
	font-size:25px;
	color: black;
	margin: 10px;
}
.map-item{
	width: 400px;
}
.map-item img{
	width:100%;
}
.img-line{
	padding-top: 10px;
}
.img-line img{
	width: 70px;
	height: 50px;
}
.find-shops{
	position:relative;
	padding:0px 0px 0px 20px;
	color: black;
}
.find-shops img{
	width:60%;
}
/*.hot-article-wrap{
	width:80%;
	position:relative;
	left:30px;
	background-color:#FFFFBB;
	border-radius: 10px;
	padding:8px;
}
.hot-article-wrap img{
	float:left;
	width:25%;
}
.hot-article-wrap a{
	display:inline-block;
	position: relative;
	left:2px;
	text-align: left;
	padding:4px;
	font-size: 18px;
	line-height:20px;
	vertical-align:middle;
}
.hot-article-text{
	float:left;
	position:relative;
	top: 14px;
    left: 10px;
	margin:2px 3px 4px 5px;
}
.hot-article-wrap div{
	display:inline-block;
	position: relative;
	left:2px;
	text-align: left;
	padding:4px;
	font-size: 18px;
	vertical-align:middle;
}*/
.comment-item img{
	float:left;
	width:80px;
	/*display: */
}
.comment-item{
	position: relative;
	left:2px;
	text-align: left;
	margin:14px;
	font-size: 18px;
	width:750px;
	display: inline-block;
	vertical-align: middle;
}
.comment-name{
	position: relative;
	top: 10px;
	font-weight: bold;
	color:#8B4513;
}
.comment-text{
	position: relative;
	top: 10px;
	font-size:16px;
	color: black;
	text-align:left;
	padding-top: 10px;
	padding-bottom: 10px;
}
.page{
	position: relative;
	padding:20px 0px 0px 10px;
	text-align: center;
}
.footer{
	display: block;
	position: relative;
	width:1280px;
}
.footer img{
	width:100%;
}
.user-head{
	border-radius: 50%;
}